# Supabase Configuration
VITE_SUPABASE_URL=https://bbovzmurtkzimxzeyjjp.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Hx3ev8v5IoxVyUSL7piHbw_wzdlMxJS

# Server Configuration
PING_MESSAGE=ping pong
